In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
data=pd.read_csv('cardekho_imputated.csv',index_col=[0])

In [41]:
data

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

# Preprocessing

In [42]:
data.isna().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [43]:
data['brand'].value_counts()

brand
Maruti           4992
Hyundai          2982
Honda            1485
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
BMW               439
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
MG                 19
Mini               17
Nissan             11
Lexus              10
Isuzu               8
Bentley             3
Maserati            2
ISUZU               2
Ferrari             1
Mercedes-AMG        1
Rolls-Royce         1
Force               1
Name: count, dtype: int64

In [44]:
data.columns

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

In [45]:
data['seller_type'].value_counts()

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

In [46]:
data['seller_type']=data['seller_type'].replace("Trustmark Dealer","Dealer")

In [47]:
data['seller_type'].value_counts()

seller_type
Dealer        9712
Individual    5699
Name: count, dtype: int64

In [48]:
data['fuel_type'].value_counts()

fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64

In [49]:
data['transmission_type'].value_counts()

transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

In [51]:
data.describe()

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price
count,15411.000000,1.541100e+04,15411.000000,15411.000000,15411.000000,15411.000000,1.541100e+04
mean,6.036338,5.561648e+04,19.701151,1486.057751,100.588254,5.325482,7.749711e+05
std,3.013291,5.161855e+04,4.171265,521.106696,42.972979,0.807628,8.941284e+05
min,0.000000,1.000000e+02,4.000000,793.000000,38.400000,0.000000,4.000000e+04
25%,4.000000,3.000000e+04,17.000000,1197.000000,74.000000,5.000000,3.850000e+05
50%,6.000000,5.000000e+04,19.670000,1248.000000,88.500000,5.000000,5.560000e+05
75%,8.000000,7.000000e+04,22.700000,1582.000000,117.300000,5.000000,8.250000e+05
max,29.000000,3.800000e+06,33.540000,6592.000000,626.000000,9.000000,3.950000e+07

## If there is very minimal differnece between the 50% and mean then this means that the data is symmetrical

In [52]:
# Drop Unnecessary Columns
data.drop("car_name",axis=1,inplace=True)
data.drop('brand',inplace=True,axis=1)

In [53]:
data.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [54]:
data["model"].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [55]:
# Getting All Different Types of Features
num_features=[feature for feature in data.columns if data[feature].dtype != 'O']
print(f'Number of Numerical Features: {len(num_features)}')
cat_features=[feature for feature in data.columns if data[feature].dtype == 'O']
print(f'Number of Catgorical Features: {len(cat_features)}')
dis_features=[feature for feature in num_features if len(data[feature].unique()) <= 25]
print(f'Number of Discrete Features: {len(dis_features)}')
cont_features=[feature for feature in num_features if feature not in dis_features]
print(f'Number of Continuous Features: {len(cont_features)}')

Number of Numerical Features: 7
Number of Catgorical Features: 4
Number of Discrete Features: 2
Number of Continuous Features: 5

In [56]:
# Independent and Dependent features
from sklearn.model_selection import train_test_split
X=data.drop(["selling_price"],axis=1)
y=data['selling_price']

In [57]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [58]:
y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
19537     250000
19540     925000
19541     425000
19542    1225000
19543    1200000
Name: selling_price, Length: 15411, dtype: int64

# Feature Selection and Scaling

In [59]:
len(data['model'].unique())

120

In [60]:
data['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [61]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [62]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [63]:
# Create Column Transformer with 3 types of transformers 
num_features=X.select_dtypes(exclude="object").columns
onehot_columns=['seller_type',"fuel_type","transmission_type"]

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_tranformer=StandardScaler()
oh_tranformer=OneHotEncoder()

preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_tranformer,onehot_columns),
        ("StandardScalar",numeric_tranformer,num_features)
    ],remainder="passthrough"
)

In [64]:
X=preprocessor.fit_transform(X)

In [65]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [66]:
# Segragte dataset into train and test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

## XGBoost Regression Implementation

In [67]:
!pip install xgboost

Requirement already satisfied: xgboost in /opt/anaconda3/lib/python3.13/site-packages (3.0.5)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.13/site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.13/site-packages (from xgboost) (1.15.3)

In [68]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [69]:
def evaluate_model(true,predicted):
    mae=mean_squared_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mse)
    r2=r2_score(true,predicted)
    return mae,mse,rmse,r2

In [70]:
models={
    "Linear Regression": LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K-Neighbors Regressor":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor(),
    "GradientBoost Regressor":GradientBoostingRegressor(),
    "XGBoost Regressor":XGBRegressor()
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train, y_train)
    
    # make prediction 
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae,model_train_mse,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_mse,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print("Model performance for training set")
    print(f"- Mean Squared Error {model_train_mse}")
    print(f"- Root Mean Squared Error {model_train_rmse}")
    print(f"- Mean Absolute Error {model_train_mae}")
    print(f"- R2 Score {model_train_r2}")
    
    print("-----------------------------")
    
    print("Model performance for test set")
    print(f"- Mean Squared Error {model_train_mse}")
    print(f"- Root Mean Squared Error {model_test_rmse}")
    print(f"- Mean Absolute Error {model_test_mae}")
    print(f"- R2 Score {model_test_r2}")
    
    print("="*35)
    print("\n")

Linear Regression
Model performance for training set
- Mean Squared Error 312912677694.00165
- Root Mean Squared Error 559385.9827471562
- Mean Absolute Error 312912677694.00165
- R2 Score 0.6182029881632303
-----------------------------
Model performance for test set
- Mean Squared Error 312912677694.00165
- Root Mean Squared Error 507574.41798876703
- Mean Absolute Error 257631789796.6356
- R2 Score 0.6574333757245404
===================================


Lasso
Model performance for training set
- Mean Squared Error 312912678165.32043
- Root Mean Squared Error 559385.9831684384
- Mean Absolute Error 312912678165.32043
- R2 Score 0.6182029875881557
-----------------------------
Model performance for test set
- Mean Squared Error 312912678165.32043
- Root Mean Squared Error 507573.7389865448
- Mean Absolute Error 257631100508.7811
- R2 Score 0.6574342922535668
===================================


Ridge
Model performance for training set
- Mean Squared Error 312913635817.1233
- Root Mean Squared Error 559386.8391525879
- Mean Absolute Error 312913635817.1233
- R2 Score 0.618201819119689
-----------------------------
Model performance for test set
- Mean Squared Error 312913635817.1233
- Root Mean Squared Error 507557.89752836985
- Mean Absolute Error 257615019343.41922
- R2 Score 0.6574556749817495
===================================


K-Neighbors Regressor
Model performance for training set
- Mean Squared Error 114736607212.38528
- Root Mean Squared Error 338727.9250554718
- Mean Absolute Error 114736607212.38528
- R2 Score 0.8600053724099476
-----------------------------
Model performance for test set
- Mean Squared Error 114736607212.38528
- Root Mean Squared Error 291665.3154566092
- Mean Absolute Error 85068656240.40334
- R2 Score 0.886886310020484
===================================


Decision Tree
Model performance for training set
- Mean Squared Error 413298475.01622325
- Root Mean Squared Error 20329.743604291307
- Mean Absolute Error 413298475.01622325
- R2 Score 0.9994957183457035
-----------------------------
Model performance for test set
- Mean Squared Error 413298475.01622325
- Root Mean Squared Error 368833.0512526579
- Mean Absolute Error 136037819696.34575
- R2 Score 0.8191138729271081
===================================


Random Forest Regressor
Model performance for training set
- Mean Squared Error 17638018636.99711
- Root Mean Squared Error 132808.2024462236
- Mean Absolute Error 17638018636.99711
- R2 Score 0.9784791627493211
-----------------------------
Model performance for test set
- Mean Squared Error 17638018636.99711
- Root Mean Squared Error 246563.3516405254
- Mean Absolute Error 60793486372.20938
- R2 Score 0.9191644035043074
===================================


GradientBoost Regressor
Model performance for training set
- Mean Squared Error 38668498615.28695
- Root Mean Squared Error 196643.0741604874
- Mean Absolute Error 38668498615.28695
- R2 Score 0.9528190505660237
-----------------------------
Model performance for test set
- Mean Squared Error 38668498615.28695
- Root Mean Squared Error 279331.58994886174
- Mean Absolute Error 78026137143.35902
- R2 Score 0.8962505736285359
===================================


XGBoost Regressor
Model performance for training set
- Mean Squared Error 7209084416.0
- Root Mean Squared Error 84906.32730250437
- Mean Absolute Error 7209084416.0
- R2 Score 0.9912039041519165
-----------------------------
Model performance for test set
- Mean Squared Error 7209084416.0
- Root Mean Squared Error 318262.1997284629
- Mean Absolute Error 101290827776.0
- R2 Score 0.8653160929679871
===================================

In [71]:
# Initialize few paramterer for Hyperparamater tuning 
knn_params={"n_neighbors":[2,3,10,20,40,50]}
xgbr_params={
    "colsample_bytree":[0.5,0.8,1,0.3,0.4],
    "learning_rate":[0.1,0.01],
    "n_estimators":[100,200,300],
    "max_depth":[5,8,12,20,30]
           }

In [72]:
# Models list for Hyperparameter tuning 
randomvcv_models=[("KNN",KNeighborsRegressor(),knn_params),
                  ("XGBoost Regressor",XGBRegressor(),xgbr_params)
                  ]

In [73]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomvcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits

/opt/anaconda3/lib/python3.13/site-packages/sklearn/model_selection/_search.py:317: UserWarning: The total space of parameters 6 is smaller than n_iter=100. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

[CV] END ......................................n_neighbors=2; total time=   0.3s
[CV] END ......................................n_neighbors=3; total time=   0.3s
[CV] END ......................................n_neighbors=3; total time=   0.3s
[CV] END ......................................n_neighbors=3; total time=   0.3s
[CV] END ......................................n_neighbors=2; total time=   0.3s
[CV] END .....................................n_neighbors=10; total time=   0.3s
[CV] END .....................................n_neighbors=10; total time=   0.3s
[CV] END ......................................n_neighbors=2; total time=   0.5s
[CV] END .....................................n_neighbors=20; total time=   0.3s
[CV] END .....................................n_neighbors=20; total time=   0.3s
[CV] END .....................................n_neighbors=20; total time=   0.3s
[CV] END .....................................n_neighbors=40; total time=   0.3s
[CV] END .....................................n_neighbors=40; total time=   0.3s
[CV] END .....................................n_neighbors=40; total time=   0.4s
[CV] END .....................................n_neighbors=10; total time=   0.4s
[CV] END .....................................n_neighbors=50; total time=   0.4s
[CV] END .....................................n_neighbors=50; total time=   0.3s
[CV] END .....................................n_neighbors=50; total time=   0.3s
Fitting 3 folds for each of 100 candidates, totalling 300 fits
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=5, n_estimators=300; total time=   0.5s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=5, n_estimators=300; total time=   0.5s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=5, n_estimators=300; total time=   0.5s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   1.1s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   1.2s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   1.2s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   1.2s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   1.4s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=100; total time=   0.3s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=100; total time=   0.3s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=100; total time=   0.3s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=8, n_estimators=200; total time=   0.6s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=8, n_estimators=200; total time=   0.7s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=8, n_estimators=200; total time=   0.6s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   1.7s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   0.9s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   2.2s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   2.3s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   0.8s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   0.8s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   2.3s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=12, n_estimators=300; total time=   3.0s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=12, n_estimators=300; total time=   3.0s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=12, n_estimators=300; total time=   3.0s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=30, n_estimators=100; total time=   9.7s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=20, n_estimators=200; total time=  11.7s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=30, n_estimators=100; total time=  10.5s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=20, n_estimators=200; total time=  13.1s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=20, n_estimators=200; total time=  11.5s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.9s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=300; total time=   2.5s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.7s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=300; total time=   2.7s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=20, n_estimators=200; total time=  15.8s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.8s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=300; total time=   2.8s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=8, n_estimators=100; total time=   0.5s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=8, n_estimators=100; total time=   0.4s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=8, n_estimators=100; total time=   0.3s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=8, n_estimators=200; total time=   1.1s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=8, n_estimators=200; total time=   1.3s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=20, n_estimators=200; total time=  18.6s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=8, n_estimators=200; total time=   1.3s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=20, n_estimators=200; total time=  19.9s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   1.9s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=20, n_estimators=300; total time=   4.2s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=30, n_estimators=100; total time=  10.6s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=20, n_estimators=300; total time=   4.4s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   1.5s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=20, n_estimators=300; total time=   4.7s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   1.6s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=8, n_estimators=300; total time=   1.3s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=8, n_estimators=300; total time=   1.1s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=8, n_estimators=300; total time=   1.5s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=100; total time=   3.7s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=100; total time=   4.0s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=100; total time=   4.0s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   4.8s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   5.0s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   5.1s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=300; total time=  17.2s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=300; total time=  17.3s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=300; total time=  17.6s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.8s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.9s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=100; total time=   0.6s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.7s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=12, n_estimators=200; total time=   2.9s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=12, n_estimators=200; total time=   3.2s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=100; total time=   0.3s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=100; total time=   0.4s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=12, n_estimators=200; total time=   2.8s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   0.8s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   0.8s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=200; total time=   0.9s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   1.3s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.7s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.6s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=30, n_estimators=200; total time=   9.4s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   1.2s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   1.1s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=30, n_estimators=200; total time=   9.6s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.5s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   1.5s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   1.5s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=30, n_estimators=200; total time=   8.3s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   1.5s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   1.5s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=12, n_estimators=200; total time=   1.6s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   1.9s
[CV] END colsample_bytree=1, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   2.0s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=12, n_estimators=200; total time=   1.4s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=12, n_estimators=200; total time=   1.6s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   2.2s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   2.3s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=12, n_estimators=200; total time=   2.2s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.6s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.6s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=5, n_estimators=200; total time=   0.5s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=300; total time=   0.7s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=20, n_estimators=100; total time=   4.2s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=20, n_estimators=200; total time=   3.6s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=20, n_estimators=100; total time=   4.6s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=20, n_estimators=100; total time=   4.2s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=20, n_estimators=200; total time=   3.6s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=20, n_estimators=200; total time=   3.9s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   2.5s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   2.5s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   2.5s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=300; total time=   1.3s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=300; total time=   1.4s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=300; total time=   1.1s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=30, n_estimators=300; total time=   8.6s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=30, n_estimators=300; total time=   8.3s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.8s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.7s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=30, n_estimators=300; total time=   9.2s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=100; total time=   0.6s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=100; total time=   0.6s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=100; total time=   0.9s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=30, n_estimators=100; total time=   3.7s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=30, n_estimators=100; total time=   4.3s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=30, n_estimators=200; total time=  13.1s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=30, n_estimators=200; total time=  13.1s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=5, n_estimators=200; total time=   0.6s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=5, n_estimators=200; total time=   0.5s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=5, n_estimators=200; total time=   0.5s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=30, n_estimators=100; total time=   3.1s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   3.2s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   3.0s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=8, n_estimators=300; total time=   3.4s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=30, n_estimators=200; total time=  13.6s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=30, n_estimators=300; total time=  31.9s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=30, n_estimators=300; total time=  31.8s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=30, n_estimators=300; total time=  31.8s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=20, n_estimators=200; total time=  10.8s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=20, n_estimators=200; total time=  11.9s
[CV] END colsample_bytree=0.5, learning_rate=0.1, max_depth=20, n_estimators=200; total time=   9.9s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=200; total time=  10.9s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=200; total time=  10.5s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   1.5s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=20, n_estimators=200; total time=  10.9s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   2.1s
[CV] END colsample_bytree=0.3, learning_rate=0.01, max_depth=30, n_estimators=100; total time=   2.1s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=20, n_estimators=300; total time=  28.6s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=20, n_estimators=300; total time=  26.9s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=20, n_estimators=300; total time=  27.5s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=20, n_estimators=200; total time=   6.5s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=20, n_estimators=200; total time=   6.5s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=8, n_estimators=100; total time=   1.4s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=8, n_estimators=100; total time=   0.9s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=20, n_estimators=200; total time=   7.3s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.8, learning_rate=0.01, max_depth=8, n_estimators=100; total time=   0.8s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=5, n_estimators=100; total time=   0.2s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=20, n_estimators=200; total time=   7.1s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=5, n_estimators=200; total time=   0.4s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=5, n_estimators=100; total time=   0.2s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=20, n_estimators=200; total time=   7.8s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=5, n_estimators=100; total time=   0.2s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   1.2s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   1.2s
[CV] END colsample_bytree=0.3, learning_rate=0.1, max_depth=12, n_estimators=100; total time=   1.2s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=5, n_estimators=100; total time=   0.3s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=20, n_estimators=300; total time=  24.2s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=5, n_estimators=100; total time=   0.3s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=5, n_estimators=100; total time=   0.3s
[CV] END colsample_bytree=0.4, learning_rate=0.1, max_depth=20, n_estimators=200; total time=   7.1s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=20, n_estimators=300; total time=  21.0s
[CV] END colsample_bytree=0.8, learning_rate=0.1, max_depth=20, n_estimators=300; total time=  23.6s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=30, n_estimators=200; total time=   7.3s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=30, n_estimators=200; total time=  15.1s
[CV] END colsample_bytree=0.5, learning_rate=0.01, max_depth=30, n_estimators=200; total time=   7.9s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=30, n_estimators=200; total time=  15.7s
[CV] END colsample_bytree=1, learning_rate=0.01, max_depth=30, n_estimators=200; total time=  15.5s
[CV] END colsample_bytree=0.4, learning_rate=0.01, max_depth=20, n_estimators=100; total time=   2.4s

Exception ignored in: <function ResourceTracker.__del__ at 0x104a35bc0>
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.13/multiprocessing/resource_tracker.py", line 82, in __del__
  File "/opt/anaconda3/lib/python3.13/multiprocessing/resource_tracker.py", line 91, in _stop
  File "/opt/anaconda3/lib/python3.13/multiprocessing/resource_tracker.py", line 116, in _stop_locked
ChildProcessError: [Errno 10] No child processes

In [75]:
# Retraining the models with best paramaters 
models={
    "Random Forest Regressor":RandomForestRegressor(n_estimators= 200, min_samples_split= 2, max_features=8, max_depth= None),
    "XGBoost Regressor": XGBRegressor(n_estimators= 200, max_depth= 5, learning_rate= 0.1, colsample_bytree= 0.3)
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train, y_train)
    
    # make prediction 
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae,model_train_mse,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_mse,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print("Model performance for training set")
    print(f"- Mean Squared Error {model_train_mse}")
    print(f"- Root Mean Squared Error {model_train_rmse}")
    print(f"- Mean Absolute Error {model_train_mae}")
    print(f"- R2 Score {model_train_r2}")
    
    print("-----------------------------")
    
    print("Model performance for test set")
    print(f"- Mean Squared Error {model_train_mse}")
    print(f"- Root Mean Squared Error {model_test_rmse}")
    print(f"- Mean Absolute Error {model_test_mae}")
    print(f"- R2 Score {model_test_r2}")
    
    print("="*35)
    print("\n")

Random Forest Regressor
Model performance for training set
- Mean Squared Error 17379576076.56299
- Root Mean Squared Error 131831.6201696808
- Mean Absolute Error 17379576076.56299
- R2 Score 0.978794498638018
-----------------------------
Model performance for test set
- Mean Squared Error 17379576076.56299
- Root Mean Squared Error 233305.72473652498
- Mean Absolute Error 54431561194.83517
- R2 Score 0.9276236981962647
===================================


XGBoost Regressor
Model performance for training set
- Mean Squared Error 21192335360.0
- Root Mean Squared Error 145575.87492438438
- Mean Absolute Error 21192335360.0
- R2 Score 0.9741424322128296
-----------------------------
Model performance for test set
- Mean Squared Error 21192335360.0
- Root Mean Squared Error 270538.2576716277
- Mean Absolute Error 73190948864.0
- R2 Score 0.9026798009872437
===================================